*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey-900: #0e0e0e;
  --grey-800: #121212;
  --grey-700: #6c6767;
  --grey-600: #898989;
  --grey-500: #b9b9b9;
  --purple-300: #f31caa;
  --purple-600: #ad3eff;
}

body {
  background-color: var(--grey-800);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
