:root {
  /* Colors */
  --dark-blue: #03045eff;
  --secondary-blue: #0077b6ff;
  --primary-blue: #3892c2;
  --light-blue: #90e0efff;
  --bg-blue: #caf0f8ff;
  --bg-color: #f2f8fa;
  --bg-yellow: #f1dca7;
  --text-color: #efefef;
  --card-light-bg-color: #def0f3;
  --dark-text-color: #222;
  --grey-color: #d4d3d3;
  --dark-grey: #949494;
  --light-dark: #555555;
  --delete-color: #df372b;
  --divider-color: rgba(0, 0, 0, 0.1);
  --dark-bg: #222;
  --soft-dark: #272724;
  /* Global */
  --letter-spacing: 0.08rem;
  --transition: all 0.2s ease;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --img-radius: 0.25rem 0.25rem 0rem 0rem;
  --card-radius: 0rem 0rem 0.25rem 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--dark-text-color);
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: inherit;
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-btn {
  padding: 0.4rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
  transition: var(--btn-transition);
}

.icon {
  font-size: 1rem;
  color: var(--primary-blue);
}

/* Project CSS */
.section-center {
  width: 95%;
  margin: auto;
  padding: 1rem;
}

.nav {
  background-color: var(--primary-blue);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

.nav-brand {
  display: flex;
  color: white;
  padding: 1rem;
}

.nav-cart {
  display: flex;
  gap: 0.2rem;
}

.cart-counter {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 0.6rem;
  background-color: var(--bg-yellow);
}

.nav-icon {
  color: white;
  font-size: 1.3rem;
}

.minus-icon {
  color: var(--delete-color);
}

.cart-section {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-info,
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
  place-items: center;
}

.prd-name {
  justify-self: flex-start;
  margin-left: 0.4rem;
}

.cart-item .prd-name {
  font-size: 0.65rem;
}

.qty-selector {
  display: grid;
  place-items: center;
}

.total-section {
  display: flex;
  justify-content: center;
}

.card {
  padding: 1rem;
  display: grid;
  width: 300px;
  gap: 1rem;
  background: rgb(248, 248, 248);
  border-radius: var(--radius);
  border: 1px solid var(--grey-color);
}

.card-header,
.card-content {
  text-align: center;
}

.card-footer {
  display: grid;
  place-items: center;
}

.card-footer button {
  width: fit-content;
}

.underline {
  position: absolute;
  bottom: -9px;
  height: 4px;
  width: 30%;
  background-color: var(--secondary-blue);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.container {
  margin: 1rem auto;
  display: grid;
  gap: 1.5rem;
}

.img-container {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

.img {
  border-radius: inherit;
  margin: auto;
  width: 95%;
  height: 95%;
}

@media screen and (min-width: 992px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .cart-item .prd-name {
    font-size: 0.85rem;
  }

  .img-container {
    height: 100px;
    width: 100px;
  }

  .total-section {
    display: flex;
    justify-content: flex-end;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-selector {
  background-color: var(--primary-blue);
  border-bottom: 2px solid transparent;
  color: white;
  padding: 0.6rem 1.3rem;
}

.btn-selector:hover {
  color: var(--dark-text-color);
  background-color: var(--light-blue);
  transform: scale(1.02);
}

.center-item {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SPINNER STYLE AND ANIMATION*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary-blue);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
