:root {
  /* Colors */
  --dark-blue: #03045eff;
  --secondary-blue: #0077b6ff;
  --primary-blue: #3892c2;
  --light-blue: #90e0efff;
  --bg-blue: #caf0f8ff;
  --bg-color: #f2f8fa;
  --bg-yellow: #f1dca7;
  --text-color: #efefef;
  --card-light-bg-color: #def0f3;
  --dark-text-color: #222;
  --grey-color: #d4d3d3;
  --dark-grey: #949494;
  --light-dark: #555555;
  --delete-color: #df372b;
  --divider-color: rgba(0, 0, 0, 0.1);
  --dark-bg: #222;
  --soft-dark: #272724;
  /* Global */
  --letter-spacing: 0.08rem;
  --transition: all 0.2s linear;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --img-radius: 0.25rem 0.25rem 0rem 0rem;
  --card-radius: 0rem 0rem 0.25rem 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--dark-text-color);
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: inherit;
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.icon {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/* Project CSS */
.section-center {
  width: 95%;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
}

.form {
  width: 95%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: baseline;
}

.input-group {
  display: flex;
  gap: 2rem;
}

.input {
  padding: 0.1rem 0.425rem;
  border: 0px;
  background-color: transparent;
  border-bottom: 1.3px solid var(--divider-color);
  color: var(--light-dark);
  font-size: 0.725rem;
}

.color-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4rem;
  width: 100%;
}

.underline {
  position: absolute;
  bottom: -9px;
  height: 4px;
  width: 30%;
  background-color: var(--secondary-blue);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.container {
  margin: 1rem auto;
  display: grid;
  gap: 1.5rem;
}

.single-color {
  width: auto;
  display: grid;
  place-items: center;
  height: 150px;
  cursor: pointer;
}

.base {
  border: 1px solid white;
}

.tint {
  color: #222 !important;
}

.shade {
  color: var(--text-color) !important;
}

@media screen and (min-width: 753px) {
  .color-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .color-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1290px) {
  .color-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .container {
    max-width: 800px;
  }
  .img-container {
    height: 150px;
    width: 100%;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-selector {
  background-color: var(--bg-blue);
  border-bottom: 2px solid transparent;
}

.btn-selector:hover {
  border-bottom: 2px solid var(--light-blue);
  transform: scale(1.02);
}
